body
{
    background-color: #494949;
}
@font-face {
    font-family: 'title';
    src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'text';
    src: url(fonts/Roboto-Thin.ttf);
}
.title
{
    display: flex;
    justify-content: center;
    font-family: 'title';
    font-size: 38px;
    text-decoration: underline;
    color: white;
}
.atitle
{
    display: flex;
    justify-content: center;
    font-family: 'title';
    font-size: 32px;
    text-decoration: underline;
    color: white;
}
.ftitle
{
    display: flex;
    justify-content: center;
    font-family: 'title';
    font-size: 32px;
    text-decoration: underline;
    color: white;
}
.text
{
    display: flex;
    justify-content: center;
    font-family: 'text';
    font-size: 28px;
    color: white;
}
.atext
{
    display: flex;
    justify-content: center;
    font-family: 'text';
    font-size: 23px;
    color: white;
}
.ftext
{
    display: flex;
    justify-content: center;
    font-family: 'text';
    font-size: 23px;
    color: white;
}
.ftextb
{
    display: flex;
    justify-content: center;
    font-family: 'text';
    font-size: 23px;
    color: red;
}
.ftextc
{
    display: flex;
    justify-content: center;
    font-family: 'text';
    font-size: 23px;
    color: cadetblue;
}
.ftexte
{
    display: flex;
    justify-content: center;
    font-family: 'text';
    font-size: 23px;
    color: greenyellow;
}
.links
{
    display: flex;
    justify-content: space-around;
}
.ilinks
{
    height: 100px;
    width: 100px;
}
.articles
{
    display: flex;
    justify-content: space-around;
}
.alert
{
    display: flex;
    justify-content: center;
    font-family: 'text';
    font-size: 23px;
    color: red;
}
.sep
{
    margin: 15px;
}
#list
{
    display: flex;
    justify-content: center;
}