body
{
    background-color: #494949;
}
@font-face {
    font-family: 'title';
    src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'text';
    src: url(fonts/Roboto-Thin.ttf);
}
.title
{
    display: flex;
    justify-content: center;
    font-family: 'title';
    font-size: 38px;
    text-decoration: underline;
    color: white;
}
.titlew
{
    display: flex;
    justify-content: center;
    font-family: 'title';
    font-size: 38px;
    text-decoration: underline;
    color: red;
}
.atitle
{
    display: flex;
    justify-content: center;
    font-family: 'title';
    font-size: 32px;
    text-decoration: underline;
    color: white;
}
.ftitle
{
    display: flex;
    justify-content: center;
    font-family: 'title';
    font-size: 32px;
    text-decoration: underline;
    color: white;
}
.text
{
    display: flex;
    justify-content: center;
    font-family: 'text';
    font-size: 28px;
    color: white;
}
.atext
{
    display: flex;
    justify-content: center;
    font-family: 'text';
    font-size: 23px;
    color: white;
}
.atextw
{
    display: flex;
    justify-content: center;
    font-family: 'text';
    font-size: 23px;
    color: white;
    transform: scale(1);
    transition: all 400ms;
}
.atextw:hover
{
    transform: scale(1.5);
}
.ftext
{
    display: flex;
    justify-content: center;
    font-family: 'text';
    font-size: 23px;
    color: white;
}
.ftextb
{
    display: flex;
    justify-content: center;
    font-family: 'text';
    font-size: 23px;
    color: red;
}
.ftextc
{
    display: flex;
    justify-content: center;
    font-family: 'text';
    font-size: 23px;
    color: cadetblue;
}
.ftexte
{
    display: flex;
    justify-content: center;
    font-family: 'text';
    font-size: 23px;
    color: greenyellow;
}
.links
{
    display: flex;
    justify-content: space-around;
}
.ilinks
{
    height: 100px;
    width: 100px;
    transform: scale(1);
    transition: all 400ms;
}
.ilinks:hover
{
    transform: scale(1.15);
}
.articles
{
    display: flex;
    justify-content: space-around;
}
.alert
{
    display: flex;
    justify-content: center;
    font-family: 'text';
    font-size: 23px;
    color: red;
}
.sep
{
    margin: 15px;
}
.list
{
    display: flex;
    justify-content: center;
}
.wimg
{
    margin: 100px;
    height: 255px;
    width: 255px;
    transform: rotateX() rotateZ() ;
    transition: all 5000ms;
}
.wimg:hover {
    transform: rotateX(360deg) rotateZ(360deg);
}
/* Animations */
.comed
{
    animation: comed 1500ms;
}
@keyframes comed {
    from {
        margin-top: 1000px;
    }
    to {
        margin-top: 0px;
    }
}
.comel
{
    animation: comel 1500ms;
}
@keyframes comel {
    from {
        margin-left: 1000px;
    }
    to {
        margin-left: 0px;
    }
}
.comer
{
    animation: comer 1500ms;
}
@keyframes comer {
    from {
        margin-right: 1000px;
    }
    to {
        margin-right: 0px;
    }
}
.comet
{
    animation: comet 1500ms;
}
@keyframes comet {
    from {
        padding-top: 1000px;
    }
    to {
        padding-top: 0px;
    }
}